body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #f5f7fb;
}


.navbar{
    background:#2c56a3;
    color:white;
    padding:14px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-left{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo{
    font-size:22px;
}

.site-title{
    font-weight:600;
}

.site-subtitle{
    font-size:12px;
    opacity:0.8;
}

.nav-right span{
    margin-left:20px;
}

.container{
    max-width:1100px;
    margin:0 auto;
    padding:30px 20px;
}
